#container{

		
		}

		body {
			
		

			background: url(12345.jpg);
			background-repeat: no-repeat;
			background-size: 100%;
			background-size: cover 
			
			 position: relative
			 left: 20px;

		}

		p {
 @font-face {
font-family: 'AlgerianRegular';

}
		
		

		}
		
#content {
	
}	